[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
[access "refs/for/refs/*"]
	read = group user/Ayysir
	push = group user/Ayysir
	label-Code-Review = -2..+2 group user/Ayysir
	label-Verified = -1..+1 group user/Ayysir
	rebase = group user/Ayysir
	removeReviewer = group user/Ayysir
	submit = group user/Ayysir
[access "refs/heads/*"]
	read = group user/Ayysir
	create = group user/Ayysir
	push = +force group user/Ayysir
	pushMerge = group user/Ayysir
[access "refs/tags/*"]
	push = +force group user/Ayysir
	pushTag = group user/Ayysir
	pushSignedTag = group user/Ayysir
